## Functions

A Function is a block of code that performs a action that performs a specific task. functions help in organizing code, reuse code and improve redability

In [2]:
## Syntax

def function_name(parameter):
    """docstring"""
    # function body 

    return expression

In [3]:
# why ruby???
num = 34
if num % 2 == 0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [4]:
def evenOrOdd(num):
    """this function will finds an even or odd"""
    if num % 2 == 0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
evenOrOdd(24)

the number is even

In [6]:
def add_two_numbers(a,b):
    sum = int(a+b)
    print("the sum of the numbers is: ",sum)

In [7]:
add_two_numbers(3,6)

the sum of the numbers is:  9

In [8]:
def greet(name):
    print(f"Hello {name} welcome to the python coding. ")

greet("nikhil")

Hello nikhil welcome to the python coding.

In [9]:
# default parameter

def greet(name = "great"):
    print(f"Hello {name} welcome to the python coding. ")

greet()

Hello great welcome to the python coding.

In [10]:
# variable lenght argument
# positioinal and keyword Arguments

def print_numbers(*nikhil):
    for i in (nikhil):
        print(i)

In [11]:
print_numbers(1,2,3,4,5,6,"Nikhil")

1
2
3
4
5
6
Nikhil

In [12]:
def print_numbers(*args):
    for i in (args):
        print(i)

In [13]:
### Keyword Argument 

def print_defaults(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

print_defaults(name = "Nikhil", age = 32 , country = "INdia")

name:Nikhil
age:32
country:INdia

In [14]:
def print_numbers(*args, **kwargs):
    for val in (args):
        print(f"postional Arguments are: {val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [15]:
print_numbers(1,12,"Nikhil Singh", name = "Nikhil", age = 32 , country = "INdia")

postional Arguments are: 1
postional Arguments are: 12
postional Arguments are: Nikhil Singh
name:Nikhil
age:32
country:INdia

## Lambda Functions
they are small anonymous functoins defined using a Lambda keyword. They can have many number of arguments but only one expressions. They commonly used for short operations or argument for higher order functions 

lambda arguments : expressions

In [16]:
addtion = lambda a,b:a+b
print(type(addtion))
print(addtion(2,3))

<class 'function'>
5

In [17]:
numbers = [1,2,3,4,5,6]
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36]

## Map Functions
It applies to all the elements in the list

In [20]:
def square(x):
    return x*x

square(10)

100

In [21]:
number = [1,2,3,4,5,6,7,8]

list(map(square, number))

[1, 4, 9, 16, 25, 36, 49, 64]

In [22]:
## lambda with map function
numbers = [1,2,3,4,5,6]
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36]

In [27]:
## map multiple iterables 
number1 = [1,2,3]
number2 = [4,5,6]

added_numbers = list(map(lambda x,y : x+y, number1, number2))
print(added_numbers)

[5, 7, 9]

In [28]:
## map() to convert a list of string to integer
strnumber = ["1","2","3"]
int_number = list(map(int, strnumber))

print(int_number)

[1, 2, 3]

In [30]:
words = ['apple', 'banana', 'kiwui']
upper = list(map(str.upper, words))
print(upper)

['APPLE', 'BANANA', 'KIWUI']

In [31]:
def get_name(people):
    return people['name']

person = [
    {'name' : "nikhil", 'age' : 23},
    {'name' : "singh", 'age' : 23}
]
list(map(get_name,person))

['nikhil', 'singh']

## filter() function
construct an iterable from elements od an iterable for which a fucntion returns true.

In [33]:
def even_number(num):
    if num%2 == 0:
        return True

In [36]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even_number,lst))

[2, 4, 6, 8, 10, 12]

In [38]:
## fitler with a lambda function 

numbers = [1,2,3,4,45,5,6,7]
greater_than_five = list(filter(lambda x:x>5, numbers))

print(greater_than_five)

[45, 6, 7]

In [40]:
## filter with a lambda function and multiple conditions 

numbers = [1,2,3,4,45,5,6,7]
greater_than_five = list(filter(lambda x:x>5 and x%2 == 0, numbers))

print(greater_than_five)

[6]

In [47]:
## Filter() to chech if the age is greater than 25 in dictionary

person = [
    {'name' : "nikhil", 'age' : 28},
    {'name' : "singh", 'age' : 23}
]
def age_greater_than_25(people):
    return people['age'] > 25


list(filter(age_greater_than_25, person))

[{'name': 'nikhil', 'age': 28}]